@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate((-50%, -50%));
}
